{% extends "plantillas/plantilla_administrador.html" %}
{% load static %}

{% block extra_css %}
    <link rel="stylesheet" href="{% static 'css/paginas/administrador/usuarios/adUsuariosPerfil.css' %}">
{% endblock extra_css %}

{% block titulo %} Administrador - usuarios {% endblock titulo %}

{% block contenido %} 
<div class="perfil-container">
    <h2 class="titulo-perfil">Perfil usuario</h2>
    
    <div class="perfil-card">
        <div class="perfil-avatar">
            <img src="{% static 'images/fotosusuario/camilaQ.jpg' %}" alt="Avatar">
            <h3>Camila Quintero</h3>
        </div>

        <div class="perfil-info">
            <p><strong>Correo electrónico:</strong> camilita22290@gmail.com</p>
            <p><strong>Número de teléfono:</strong> 3160007856</p>
            <p><strong>País:</strong> Colombia</p>
            <p><strong>Géneros favoritos:</strong> K-Pop</p>

            <div class="perfil-historial">
                <p><strong>Historial de compra:</strong></p>
                <div class="compra">
                    <img src="{% static 'images/fotosusuario/bts-be.jpg' %}" alt="Bad - Michael Jackson">
                    <div>
                        <p class="album"> Be	</p>
                        <p class="artista">BTS</p>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
<div class="bloq">
    <div class="bloq-wrapper">
        <p id="mensaje-bloqueo" class="mensaje-flotante"></p>
        <button id="boton-bloqueo" class="bloquear" onclick="toggleBloqueo()">Bloquear usuario</button>
    </div>
</div>

<script>
    function toggleBloqueo() {
        const boton = document.getElementById('boton-bloqueo');
        const mensaje = document.getElementById('mensaje-bloqueo');
    
        if (boton.textContent === "Bloquear usuario") {
            mensaje.textContent = "Usuario bloqueado con éxito ✅";
            boton.textContent = "Desbloquear usuario";
            boton.classList.add("desbloquear");
        } else {
            mensaje.textContent = "Usuario desbloqueado con éxito ✅";
            boton.textContent = "Bloquear usuario";
            boton.classList.remove("desbloquear");
        }
    
        mensaje.classList.add("visible");
        setTimeout(() => {
            mensaje.classList.remove("visible");
        }, 2000);
    }
</script>



{% endblock contenido %}

{% block pie %} Este es el PIE de Álbumes {% endblock pie %}