<div class="container mt-5">
    <form enctype="multipart/form-data" method="post">
        {% csrf_token %}
        {% for campo in formulario %} <!-- Es la variable que contiene el formulario -->
            <!-- bs5-form-input -->
            <div class="mb-3 text text-start">
                <!-- Añadido en label for: "{{ campo.id_for_label }}" -->
                <label for="{{ campo.id_for_label }}" class="form-label fs-4 text-start">{{ campo.label }}</label>

                <!-- Sirve para mostrar automáticamente los datos envés de input -->
                <!-- {{ campo }} -->

                {% if campo.field.widget.input_type == 'file' and campo.value %}
                    <br>
                    <img src="{{ MEDIA_URL }}/fotos/{{ campo.value }}" width="90px" height="100px" alt="Foto Actual">
                {% endif %}

                <!-- El if de "value" formatea la fecha como 'dd/mm/aaaa' -->
                <input
                    type="{{ campo.field.widget.input_type }}"
                    class="form-control"
                    name="{{ campo.name }}"
                    id="{{ campo.id_for_label }}"
                    aria-describedby="helpId"
                    placeholder="{{ campo.label }}"
                    value="{% if campo.name == 'fechaIngreso' %}{{ campo.value|date:"d/m/Y"|default:'' }}{% else %}{{ campo.value|default:'' }}{% endif %}"
                />
                <div class="col-12 text-danger">{{ campo.errors }}</div>
                <!-- <small id="helpId" class="form-text text-muted">Help text</small> -->
            </div>
        {% endfor %}

        <!-- bs5-form-input -->
        <input
            name=""
            id=""
            class="btn btn-warning"
            type="submit"
            value="Enviar Información"
        />

        <!-- bs5-button-a -->
        <a
            name=""
            id=""
            class="btn btn-primary"
            href="{% url 'crud' %}"
            role="button"
            >Cancelar</a
        >
    </form>
</div>
