{% extends "plantillas/plantilla_publico.html" %}
{% load static %}

{% block extra_css %}
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.0.0/css/all.min.css">
    <link rel="stylesheet" href="{% static 'css/crud/style_crud_inicio.css' %}">
{% endblock extra_css %}

{% block titulo %} CRUD {% endblock %}

{% block contenido %}
    <!-- bs5-card-head-foot -->
    <div class="card">
        <div class="card-header">
            <h1>Sistema de ASISTENCIA 3069239</h1>

            <!-- bs5-button-a -->
            <a
                name=""
                id=""
                class="btn btn-success"
                href="{% url 'crud_crear' %}"
                role="button"
                >Agregar Registro</a
            >
        </div>
        <div class="card-body">
            <h4 class="card-title">Registros</h4>
            <!-- bs5-table-default -->
            <div
                class="table-responsive"
            >
                <table
                    class="table table-success"
                >
                    <thead class="table-primary fw-bold fc-black">
                        <tr>
                            <th scope="col">ID</th>
                            <th scope="col">Nombres</th>
                            <th scope="col">Apellidos</th>
                            <th scope="col">Foto</th>
                            <th scope="col">Clase</th>
                            <th scope="col">Dirección</th>
                            <th scope="col">Fecha de Ingreso</th>
                            <th scope="col">Acciones</th>
                        </tr>
                    </thead>
                    <tbody>
                        {% for item in elementos_crud %}
                            <tr class="">
                                <td scope="row">{{ item.id }}</td>
                                <td>{{ item.nombre }}</td>
                                <td>{{ item.apellido }}</td>
                                <td>
                                    {% if item.foto %}
                                        <img src="{{ MEDIA_URL }}/fotos/{{ item.foto }}" alt="Foto" width="90px" height="100px">
                                    {% else %}
                                        Sin foto
                                    {% endif %}
                                </td>
                                <td>{{ item.clase }}</td>
                                <td>{{ item.direccion }}</td>
                                <td>{{ item.fechaIngreso }}</td>
                                <td>
                                    <a
                                        name=""
                                        id=""
                                        class="btn btn-primary"
                                        href="{% url 'crud_editar' item.id %}"
                                        role="button"
                                        >Editar</a
                                    >
                                    <a
                                        name=""
                                        id=""
                                        class="btn btn-warning"
                                        href="{% url 'crud_eliminar' item.id %}"
                                        role="button"
                                        >Borrar</a
                                    >
                                </td>
                            </tr>
                        {% endfor %}
                    </tbody>
                </table>
            </div>
            <!-- Aquí termina la tabla bs5-table-default -->
        </div>
        <div class="card-footer">Footer</div>
    </div>
{% endblock %}

{% block pie %}

{% endblock %}
