/* Estilos para la página de notificaciones del administrador */

.list-group-item-action {
    transition: background-color 0.2s ease-in-out;
}

.list-group-item-action:hover {
    background-color: #f8f9fa; /* Un color de fondo sutil al pasar el mouse */
}

/* Estilo para las notificaciones ya leídas */
.list-group-item.list-group-item-light {
    color: #6c757d; /* Texto un poco más tenue para las leídas */
    background-color: #fdfdfe;
}
