{% extends "plantillas/plantilla_publico.html" %}
{% load static %}

{% block titulo %}Contraseña Restablecida{% endblock %}

{% block contenido %}
<div class="container mt-5">
    <div class="row justify-content-center">
        <div class="col-md-6 text-center">
            <div class="login-form">
                <div class="logo-container">
                    <img src="{% static 'images/vinilo.ico' %}" alt="Logo">
                </div>
                <h2>Contraseña Restablecida</h2>
                <p>Tu contraseña ha sido restablecida exitosamente. Ahora puedes <a href="{% url 'pub_login' %}">iniciar sesión</a> con tu nueva contraseña.</p>
            </div>
        </div>
    </div>
</div>
{% endblock %}
