{% load i18n %}
Hola,

Hemos recibido una solicitud para restablecer la contraseña de tu cuenta en Vinyles asociada con el correo electrónico: {{ email }}.

Por favor, haz clic en el siguiente enlace para establecer una nueva contraseña:

{{ protocol }}://{{ domain }}{% url 'password_reset_confirm' uidb64=uid token=token %}

Si no solicitaste un restablecimiento de contraseña, puedes ignorar este mensaje de forma segura. Tu contraseña no cambiará a menos que accedas al enlace anterior y crees una nueva.

Tu nombre de usuario, en caso de que lo hayas olvidado: {{ user.get_username }}

Gracias,
El equipo de Vinyles.

---
Este es un mensaje automático, por favor no respondas a este correo.