{% extends "plantillas/plantilla_publico.html" %}
{% load static %}

{% block titulo %}Email de Restablecimiento Enviado{% endblock %}

{% block contenido %}
<div class="container mt-5">
    <div class="row justify-content-center">
        <div class="col-md-8 text-center">
            <div class="login-form">
                <div class="logo-container">
                    <img src="{% static 'images/utiles/vinilo.ico' %}" alt="Logo">
                </div>
                <h2>Email de Restablecimiento Enviado</h2>
                <p>Te hemos enviado un correo electrónico con instrucciones para restablecer tu contraseña. Si existe una cuenta con el correo que ingresaste, deberías recibirlo en breve.</p>
                <p>Si no lo recibes, por favor revisa tu carpeta de spam o asegúrate de haber ingresado la dirección con la que te registraste.</p>
                <p><a href="{% url 'pub_login' %}" class="btn btn-info">Volver a Iniciar Sesión</a></p>
            </div>
        </div>
    </div>
</div>
{% endblock %}
