{% load i18n %}{% autoescape off %}
{% blocktranslate %}Hola,{% endblocktranslate %}

{% blocktranslate %}Hemos recibido una solicitud para restablecer la contraseña de tu cuenta en {{ site_name }} asociada con el correo electrónico: {{ email }}.{% endblocktranslate %}

{% translate "Por favor, haz clic en el siguiente enlace para establecer una nueva contraseña:" %}

{{ protocol }}://{{ domain }}{% url 'password_reset_confirm' uidb64=uid token=token %}

{% blocktranslate %}Si no solicitaste un restablecimiento de contraseña, puedes ignorar este mensaje de forma segura. Tu contraseña no cambiará a menos que accedas al enlace anterior y crees una nueva.{% endblocktranslate %}

{% blocktranslate %}Tu nombre de usuario, en caso de que lo hayas olvidado: {{ user.get_username }}{% endblocktranslate %}

{% blocktranslate %}Gracias,{% endblocktranslate %}
{% blocktranslate %}El equipo de {{ site_name }}.{% endblocktranslate %}

---
{% blocktranslate %}Este es un mensaje automático, por favor no respondas a este correo.{% endblocktranslate %}
{% endautoescape %}