{% extends "plantillas/plantilla_publico.html" %}
{% load static %}
{% load humanize %}

{% block extra_css %}
    {# Ahora usamos el componente de CSS compartido #}
    <link rel="stylesheet" href="{% static 'css/componentes/style_product_card.css' %}">
{% endblock extra_css %}

{% block titulo %} Vinyles - La Música {% endblock titulo %}

{% block contenido %}
    <section class="hero-banner-section">
        <div class="hero-banner">
            <img src="{% static 'images/albumes/metallica_master.jpg' %}" alt="Featured Album - Master of Puppets">
            {# Optional text overlay
            <div class="hero-text">
                <h2>Bienvenido!</h2>
                <p>
                    Sientete libre de mirar algunos de los mejores albumes de la historia. Y como no, comprar alguno de estas piezas maestras.
                </p>
                <a href="#" class="btn btn-primary">Empezar mi compra!</a>
            </div>
            #}
        </div>
    </section>

    {% include 'componentes/_product_grid.html' %}

{% endblock contenido %}

{% block pie %}

{% endblock pie %}
