{% extends "plantillas/plantilla_publico.html" %}
{% load static %}

{% block extra_css %}
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.7.2/css/all.min.css">
    <link rel="stylesheet" href="{% static 'css/paginas/publico/style_restablecer_contrasena_admin.css' %}">
{% endblock extra_css %}

{% block titulo %} Vinyles - Restablecer {% endblock titulo %}

{% block contenido %}
  <div class="login-container">
    <div class="login-form">
        <div class="logo-container">
            <img src="{% static 'images/utiles/vinilo_240.ico' %}" alt="Logo Vinyles">
        </div>
        <h2>Restablecer tu Contraseña</h2>
        <p>
          Contactate con IT para el restablecimiento de tu contraseña.
        </p>
        <button type="submit" class="btn btn-primary">
          <a href="{% url 'pub_login' %}">Regresar al Login</a> {# Asumiendo que 'pub_login_administrador' no existe y debe ir al login general o admin_administrador si ya está logueado #}
        </button>
    </div>
  </div>
{% endblock contenido %}

{% block pie %}

{% endblock pie %}