{% extends "plantillas/plantilla_publico.html" %}
{% load static %}

{% block extra_css %}
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.0.0/css/all.min.css">
    <link rel="stylesheet" href="{% static 'css/paginas/publico/style_inicio.css' %}">
{% endblock extra_css %}

{% block titulo %} Vinyles - La Música {% endblock titulo %}

{% block contenido %}
    <section class="hero-banner-section">
        <div class="hero-banner">
            <img src="{% static 'images/master.jpg' %}" alt="Featured Album - Master of Puppets">
            {# Optional text overlay
            <div class="hero-text">
                <h2>Bienvenido!</h2>
                <p>
                    Sientete libre de mirar algunos de los mejores albumes de la historia. Y como no, comprar alguno de estas piezas maestras.
                </p>
                <a href="#" class="btn btn-primary">Empezar mi compra!</a>
            </div>
            #}
        </div>
    </section>

    <section class="product-grid-section">
        <h2 class="section-title">Novedades</h2>
        <div class="product-grid">

            {# Product Card 1 #}
            <div class="product-card">
                <a href="#" class="product-image-link">
                    <img src="{% static 'images/lonely.jpg' %}" alt="Sgt. Pepper's Lonely Hearts Club Band" class="product-image">
                </a>
                <div class="product-info">
                    <h3 class="product-title"><a href="{% url 'pub_vinilo' %}">Sgt. Pepper's Lonely Hearts Club Band</a></h3>
                    <p class="product-artist">The Beatles</p>
                    <p class="product-price">$95.000</p>
                    <a class="btn btn-add-to-cart" href="{% url 'pub_login' %}?album_name=Sgt.%20Pepper%27s%20Lonely%20Hearts%20Club%20Band&artist=The%20Beatles&price=95000&image={% static 'images/lonely.jpg' %}">
                        Agregar al carrito
                    </a>
                </div>
            </div>

            {# Product Card 2 #}
            <div class="product-card">
                <a href="#" class="product-image-link">
                    <img src="{% static 'images/thriller.jpg' %}" alt="Thriller" class="product-image">
                </a>
                <div class="product-info">
                    <h3 class="product-title"><a href="{% url 'pub_vinilo' %}">Thriller</a></h3>
                    <p class="product-artist">Michael Jackson</p>
                    <p class="product-price">$110.000</p>
                    <a class="btn btn-add-to-cart" href="{% url 'pub_login' %}?album_name=Thriller.%20&artist=Michael%20Jackson&price=110000&image={% static 'images/thriller.jpg' %}">
                        Agregar al carrito
                    </a>
                </div>
            </div>

            {# Product Card 3 #}
            <div class="product-card">
                <a href="#" class="product-image-link">
                    <img src="{% static 'images/joe.jpg' %}" alt="Grandes Exitos - Joe Arroyo" class="product-image">
                </a>
                <div class="product-info">
                    <h3 class="product-title"><a href="{% url 'pub_vinilo' %}">Grandes Exitos</a></h3>
                    <p class="product-artist">Joe Arroyo</p>
                    <p class="product-price">$80.000</p>
                    <a class="btn btn-add-to-cart" href="{% url 'pub_login' %}?album_name=Grandes%20Exitos&artist=Joe%20Arroyo&price=80000&image={% static 'images/joe.jpg' %}">
                        Agregar al carrito
                    </a>
                </div>
            </div>

            {# Product Card 4 #}
            <div class="product-card">
                <a href="#" class="product-image-link">
                    <img src="{% static 'images/bad.jpg' %}" alt="Bad" class="product-image">
                </a>
                <div class="product-info">
                    <h3 class="product-title"><a href="{% url 'pub_vinilo' %}">Bad</a></h3>
                    <p class="product-artist">Michael Jackson</p>
                    <p class="product-price">$105.000</p>
                    <a class="btn btn-add-to-cart" href="{% url 'pub_login' %}?album_name=Bad&artist=Michael%20Jackson&price=105000&image={% static 'images/bad.jpg' %}">
                        Agregar al carrito
                    </a>
                </div>
            </div>

            {# Product Card 5 #}
            <div class="product-card">
                <a href="#" class="product-image-link">
                    <img src="{% static 'images/destruction.jpg' %}" alt="Appetite for Destruction" class="product-image">
                </a>
                <div class="product-info">
                    <h3 class="product-title"><a href="{% url 'pub_vinilo' %}">Appetite for Destruction</a></h3>
                    <p class="product-artist">Guns N' Roses</p>
                    <p class="product-price">$120.000</p>
                    <a class="btn btn-add-to-cart" href="{% url 'pub_login' %}?album_name=Appetite%20for%20Destruction&artist=Guns%20N'%20Roses&price=120000&image={% static 'images/destruction.jpg' %}">
                        Agregar al carrito
                    </a>
                    
                </div>
            </div>

            {# Product Card 6 #}
            <div class="product-card">
                <a href="#" class="product-image-link">
                    <img src="{% static 'images/music.jpg' %}" alt="MUSIC" class="product-image">
                </a>
                <div class="product-info">
                    <h3 class="product-title"><a href="{% url 'pub_vinilo' %}">MUSIC</a></h3>
                    <p class="product-artist">Playboi Carti</p>
                    <p class="product-price">$90.000</p>
                    <a class="btn btn-add-to-cart" href="{% url 'pub_login' %}?album_name=MUSIC&artist=Playboi%20Carti&price=90000&image={% static 'images/music.jpg' %}">
                        Agregar al carrito
                    </a>
                </div>
            </div>

            {# Product Card 7 - MOVER ESTE BLOQUE DENTRO DEL .product-grid #}
            <div class="product-card">
                <a href="#" class="product-image-link">
                    <img src="{% static 'images/master.jpg' %}" alt="Master of Puppets" class="product-image">
                </a>
                <div class="product-info">
                    <h3 class="product-title"><a href="{% url 'pub_vinilo' %}">Master of Puppets</a></h3>
                    <p class="product-artist">Metallica</p>
                    <p class="product-price">$105.000</p>
                    <a class="btn btn-add-to-cart" href="{% url 'pub_login' %}?album_name=Master%20Of%20Puppets&artist=Metallica%20&price=105000&image={% static 'images/master.jpg' %}">
                        Agregar al carrito
                    </a>
                </div>
            </div>

            {# Product Card 8 - MOVER ESTE BLOQUE DENTRO DEL .product-grid #}
            <div class="product-card">
                <a href="#" class="product-image-link">
                    <img src="{% static 'images/suavemente.jpg' %}" alt="Suavemente" class="product-image">
                </a>
                <div class="product-info">
                    <h3 class="product-title"><a href="{% url 'pub_vinilo' %}">Suavemente</a></h3>
                    <p class="product-artist">Elvis Crespo</p>
                    <p class="product-price">$50.000</p>
                    <a class="btn btn-add-to-cart" href="{% url 'pub_login' %}?album_name=Suavemente%20&artist=Elvis%20Crespo&price=50000&image={% static 'images/suavemente.jpg' %}">
                        Agregar al carrito
                    </a>
                </div>
            </div>

            {# Product Card 9 - MOVER ESTE BLOQUE DENTRO DEL .product-grid #}
            <div class="product-card">
                <a href="#" class="product-image-link">
                    <img src="{% static 'images/rap.jpg' %}" alt="The Eminem Show" class="product-image">
                </a>
                <div class="product-info">
                    <h3 class="product-title"><a href="{% url 'pub_vinilo' %}">The Eminem Show</a></h3>
                    <p class="product-artist">Eminem</p>
                    <p class="product-price">$95.000</p>
                    <a class="btn btn-add-to-cart" href="{% url 'pub_login' %}?album_name=The%20Eminem%20Show&artist=Eminem%20&price=95000&image={% static 'images/rap.jpg' %}">
                        Agregar al carrito
                    </a>
                </div>
            </div>

            {# Product Card 10 - MOVER ESTE BLOQUE DENTRO DEL .product-grid #}
            <div class="product-card">
                <a href="#" class="product-image-link">
                    <img src="{% static 'images/nirvana in utero.jpg' %}" alt="In Utero" class="product-image">
                </a>
                <div class="product-info">
                    <h3 class="product-title"><a href="{% url 'pub_vinilo' %}">In Utero</a></h3>
                    <p class="product-artist">Nirvana</p>
                    <p class="product-price">$120.000</p>
                    <a class="btn btn-add-to-cart" href="{% url 'pub_login' %}?album_name=In%20Utero&artist=Nirvana%20&price=120000&image={% static 'images/nirvana in utero.jpg' %}">
                        Agregar al carrito
                    </a>
                </div>
            </div>

            {# Product Card 11 - MOVER ESTE BLOQUE DENTRO DEL .product-grid #}
            <div class="product-card">
                <a href="#" class="product-image-link">
                    <img src="{% static 'images/whiplash.jpg' %}" alt="Whiplash" class="product-image">
                </a>
                <div class="product-info">
                    <h3 class="product-title"><a href="{% url 'pub_vinilo' %}">Whiplash</a></h3>
                    <p class="product-artist">Aespa</p>
                    <p class="product-price">$130.000</p>
                    <a class="btn btn-add-to-cart" href="{% url 'pub_login' %}?album_name=Whiplash%20&artist=Aespa%20&price=130000&image={% static 'images/whiplash.jpg' %}">
                        Agregar al carrito
                    </a>
                </div>
            </div>

            {# Product Card 12 - MOVER ESTE BLOQUE DENTRO DEL .product-grid #}
            <div class="product-card">
                <a href="#" class="product-image-link">
                    <img src="{% static 'images/regueton.jpg' %}" alt="Prestige" class="product-image">
                </a>
                <div class="product-info">
                    <h3 class="product-title"><a href="{% url 'pub_vinilo' %}">Prestige</a></h3>
                    <p class="product-artist">Daddy Yankee</p>
                    <p class="product-price">$150.000</p>
                    <a class="btn btn-add-to-cart" href="{% url 'pub_login' %}?album_name=Prestige%20&artist=Daddy%20Yankee&price=150000&image={% static 'images/regueton.jpg' %}">
                        Agregar al carrito
                    </a>
                </div>
            </div>

            {# Product Card 13 - MOVER ESTE BLOQUE DENTRO DEL .product-grid #}
            <div class="product-card">
                <a href="#" class="product-image-link">
                    <img src="{% static 'images/the beatles-abbey road.jpg' %}" alt="Abbey Road" class="product-image">
                </a>
                <div class="product-info">
                    <h3 class="product-title"><a href="{% url 'pub_vinilo' %}">Abbey Road</a></h3>
                    <p class="product-artist">The Beatles</p>
                    <p class="product-price">$135.000</p>
                    <a class="btn btn-add-to-cart" href="{% url 'pub_login' %}?album_name=Abbey%20Road&artist=The%20Beatles&price=135000&image={% static 'images/the beatles-abbey road.jpg' %}">
                        Agregar al carrito
                    </a>
                </div>
            </div>

            {# Product Card 14 - MOVER ESTE BLOQUE DENTRO DEL .product-grid #}
            <div class="product-card">
                <a href="#" class="product-image-link">
                    <img src="{% static 'images/kpop.jpg' %}" alt="Love Yourself" class="product-image">
                </a>
                <div class="product-info">
                    <h3 class="product-title"><a href="{% url 'pub_vinilo' %}">Love Yourself</a></h3>
                    <p class="product-artist">BTS</p>
                    <p class="product-price">$105.000</p>
                    <a class="btn btn-add-to-cart" href="{% url 'pub_login' %}?album_name=Love%20Yourself&artist=BTS%20&price=105000&image={% static 'images/kpop.jpg' %}">
                        Agregar al carrito
                    </a>
                </div>
            </div>
        </div>
    </section>

{% endblock contenido %}

{% block pie %}
    
{% endblock pie %}