{% extends "plantillas/plantilla_publico.html" %}
{% load static %}

{% block titulo %} Sesión Cerrada - Vinyles {% endblock titulo %}

{% block extra_css %}
    <link rel="stylesheet" href="{% static 'css/paginas/publico/style_log_out.css' %}">
{% endblock extra_css %}

{% block contenido %}
    <div class="container text-center mt-5">
        {# El mensaje "Has cerrado sesión exitosamente. ¡Hasta luego!"se mostrará aquí arriba, a través del message_block de plantilla_publico.html #}
        
        <h2>Has cerrado sesión</h2>
        <p class="lead">¡Esperamos verte pronto por Vinyles!</p>
        <hr>
        <p>
            <a href="{% url 'pub_login' %}" class="btn btn-primary me-2">Iniciar Sesión de Nuevo</a>
            <a href="{% url 'pub_inicio' %}" class="btn btn-secondary">Ir a la Página de Inicio</a>
        </p>
    </div>
{% endblock contenido %}