{% extends "plantillas/plantilla_publico.html" %}
{% load static %}

{% block extra_css %}
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.7.2/css/all.min.css">
    {# Si tienes un CSS específico para esta página, añádelo aquí #}
{% endblock extra_css %}
{% block titulo %} Sesión Cerrada {% endblock titulo %}
{% block contenido %}
<div class="container text-center mt-5">
    <h2>Has cerrado sesión</h2>    
    <p>Gracias por visitar Vinyles. ¡Esperamos verte pronto!</p>
    <p>
        <a href="{% url 'pub_login' %}" class="btn btn-primary">Iniciar Sesión de Nuevo</a>
        <a href="{% url 'pub_inicio' %}" class="btn btn-secondary">Ir a la Página Principal</a>
    </p>
</div>
{% endblock contenido %}

{# Override the message block from the base template to show no messages on this page #}
{% block message_block %}{% endblock message_block %}

{% block pie %}

{% endblock pie %}