{% extends "plantillas/plantilla_publico.html" %}
{% load static %}

{% block extra_css %}
    <link rel="stylesheet" href="{% static 'css/paginas/publico/style_codigo_recuperacion.css' %}"> {# Puedes usar el CSS de pub_codigo_recuperacion o crear uno nuevo #}
{% endblock extra_css %}

{% block titulo %} Vinyles - Solicitar Reseteo de Contraseña {% endblock titulo %}

{% block contenido %}
    <div class="login-container">
        <div class="login-form">
            <div class="logo-container">
                <img src="{% static 'images/utiles/vinilo_240.ico' %}" alt="Logo Vinyles">
            </div>
            <h2>Recupera tu Contraseña</h2>
            <p>Ingresa tu dirección de correo electrónico y te enviaremos instrucciones para restablecer tu contraseña.</p>
            <form method="post"> {# La action la define la URL de Django #}
                {% csrf_token %}
                
                {{ form.email.errors }}
                <div class="form-group">
                    <label for="{{ form.email.id_for_label }}" class="form-label">Email</label>
                    <input
                        type="email"
                        class="form-control {% if form.email.errors %}is-invalid{% endif %}"
                        name="{{ form.email.html_name }}"
                        id="{{ form.email.id_for_label }}"
                        aria-describedby="emailHelpId"
                        placeholder="abc@mail.com"
                        required
                    />
                </div>
                <div class="form-group">
                    <button type="submit" class="btn btn-primary">Enviar Email de Recuperación</button>
                </div>
            </form>
            <p class="mt-3"><a href="{% url 'login' %}">Volver al inicio de sesión</a></p>
        </div>
    </div>
{% endblock contenido %}

{% block pie %}{% endblock pie %}