.bg {
  background-color:rgb(31, 76, 117); 
  color: white;
  padding: 5px;
  text-align: center;
  font-weight: bold;
  font-size: 20px;
}

.bg1 {
  background-color:rgb(113, 229, 183); 
  color: white;
  padding: 15px;
  text-align: center;
  font-weight: bold;
}