{% load static %}
{% load humanize %}

<section class="product-grid-section">
  <h2 class="section-title">Últimas Publicaciones</h2>
  <div class="product-grid">
    {% for publicacion in publicaciones %}
      <div class="product-card" data-genre="{{ publicacion.producto.genero_principal.first.nombre|slugify }}">
        <a href="{% url 'pub_vinilo' publicacion.producto.id %}" class="product-image-link">
        {% if publicacion.producto.imagen_portada %}
            <img src="{{ publicacion.producto.imagen_portada.url }}" alt="Portada de {{ publicacion.producto.nombre }}" class="product-image" />
        {% else %}
            <img src="{% static 'images/albumes/default/default_album.png' %}" alt="Portada no disponible" class="product-image" />
        {% endif %}
        </a>
        <div class="product-info">
          <h3 class="product-title">
            <a href="{% url 'pub_vinilo' publicacion.producto.id %}">{{ publicacion.producto.nombre }}</a>
          </h3>
          <p class="product-artist">
            {{ publicacion.producto.artistas.all|join:", " }}
          </p>
          <p class="product-price">${{ publicacion.precio|intcomma }}</p>

          {# Este enlace funcionará para ambos casos: autenticado y no autenticado. #}
          <a href="{% url 'add_to_cart' publicacion_id=publicacion.id %}" class="btn btn-add-to-cart">Añadir al carrito</a>
        </div>
      </div>
    {% empty %}
      <div class="alert alert-info" role="alert">
        <p class="mb-0">No hay álbumes disponibles en este momento.</p>
      </div>
    {% endfor %}
  </div>
</section>
