.profile-container {
  background-color: #212121;
  border-radius: 10px;
  box-shadow: 0 0 20px rgba(0, 0, 0, 0.2);
  padding: 30px;
  width: 400px;
  max-width: 90%;
  text-align: center;
}

.profile-picture-container {
  margin-bottom: 20px;
}

.profile-picture {
  width: 150px;
  height: 150px;
  border-radius: 50%;
  object-fit: cover;
  border: 5px solid #eee;
}

.user-name {
  font-size: 24px;
  font-weight: bold;
  margin-bottom: 20px;
  color: #eee;
}

.profile-info {
  text-align: left;
  margin-bottom: 20px;
}

.info-item {
  margin-bottom: 10px;
}

label {
  font-weight: bold;
  color: #eee;
  display: block;
  margin-bottom: 5px;
}

span {
  color: #eee;
}

.profile-buttons {
  display: flex;
  justify-content: space-around;
  gap: 10px;
}

.btn {
  color: #fff;
  border: none;
  padding: 10px 20px;
  border-radius: 5px;
  cursor: pointer;
  font-weight: bold;
  text-decoration: none;
  display: inline-block;
  width: 100%;
  text-align: center;
}

/* Responsive Design */
@media (max-width: 500px) {
  .profile-container {
      padding: 20px;
  }

  .profile-picture {
      width: 120px;
      height: 120px;
  }

  .user-name {
      font-size: 20px;
  }
}