{% extends "plantillas/plantilla_publico.html" %}
{% load static %}

{% block extra_css %}
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.0.0/css/all.min.css">
    <link rel="stylesheet" href="{% static 'css/crud/style_crud_editar.css' %}">
{% endblock extra_css %}

{% block titulo %} Editar {% endblock %}

{% block contenido %}
    <!-- bs5-card-head-foot -->
    <div class="card bg">
        <div class="card-header fw-bold">Editar Registro</div>
        <div class="card-body">
            <h4 class="card-title">Datos del Registro</h4>
            <p class="card-text">Modifique los datos del registro.</p>

            {% include 'crud/crud_formulario.html' %}
        </div>
        <div class="card-footer">Formulario de edición</div>
    </div>
{% endblock %}

{% block pie %}
    
{% endblock %}