{% extends "plantillas/plantilla_administrador.html" %}
{% load static %}

{% block extra_css %}
    <link rel="stylesheet" href="{% static 'css/paginas/administrador/style_administrador.css' %}">
{% endblock extra_css %}

{% block titulo %} Vinlyles - Administrador{% endblock titulo %}

{% block contenido %} 

<section class="section">

    <div class="textos">
        <h1 class="bienvenida">Bienvenido, Admin</h1>
        <p class="bien">Todo lo que pasa en la plataforma, al instante. Tu centro de mando está listo, Admin.</p>
    </div>
    
    <a href="{% url 'admin_ventas' %}" class="nota rosita">
        <h3>🛒 Ventas hoy</h3>
        <div class="value">5</div>
        <div class="desc">Total: $1.230.000</div>
    </a>

    <a href="{% url 'admin_new_users' %}" class="nota azul">
        <h3>👤 Nuevos usuarios</h3>
        <div class="value">3</div>
        <div class="desc">Registrados hoy</div>
    </a>


    <a href="{% url 'admin_notificaciones'%}" class="nota piel">
        <h3>🔔 Notificaciones</h3>
        <div class="value">2</div>
        <div class="desc">Soporte necesita respuesta</div>
    </a>

<a href="{% url 'masVendidos'%}" class="nota piel">
        <h3> 💹 Más vendidos</h3>
        <div class="value">5</div>
        <div class="desc">productos más vendidos</div>
    </a>

</section>


{% endblock contenido %}

{% block pie %}

{% endblock pie %}