{% extends "plantillas/plantilla_comprador.html" %}
{% load static %}

{% block extra_css %}
    <link rel="stylesheet" href="{% static 'css/paginas/comprador/style_albumes.css' %}">
    <link rel="stylesheet" href="{% static 'css/paginas/comprador/style_com_inicio.css' %}"> {# <-- AÑADIR ESTA LÍNEA PARA REUTILIZAR ESTILOS DE TARJETAS #}
{% endblock extra_css %}

{% block titulo %} Vinyles - Álbumes {% endblock titulo %}



{% block contenido %}
  <div class="container-albumes">

    <aside class="aside-clasificacion">
      <h2>Clasificación</h2>
      <ul>
        <li><a href="#" data-genre="todos">Todos</a></li>
        <li><a href="#" data-genre="rock">Rock</a></li>
        <li><a href="#" data-genre="jazz">Jazz</a></li>
        <li><a href="#" data-genre="merengue">Merengue</a></li>
        <li><a href="#" data-genre="reggaeton">Reggaetón</a></li>
        <li><a href="#" data-genre="pop">Pop</a></li>
        <li><a href="#" data-genre="clasica">Clásica</a></li>
        <li><a href="#" data-genre="reggae">Reggae</a></li>
        <li><a href="#" data-genre="blues">Blues</a></li>
        <li><a href="#" data-genre="salsa">Salsa</a></li>
        <li><a href="#" data-genre="electro">Electro</a></li>
        <li><a href="#" data-genre="rap">Rap</a></li>
        <li><a href="#" data-genre="vallenato">Vallenato</a></li>
        <li><a href="#" data-genre="rockandroll">Rock and Roll</a></li>
        <li><a href="#" data-genre="kpop">Kpop</a></li>
      </ul>
    </aside>


    <main class="main-albumes">

      {# INICIO: EJEMPLO DE CÓMO CAMBIAR UNA TARJETA #}
      <div class="product-card" data-genre="rock"> {# Cambiado de album-card a product-card #}
        <a href="{% url 'pub_vinilo' %}?album=michael_jackson_bad" class="product-image-link"> {# Añadido product-image-link #}
          <img src="{% static 'images/albumes/michael_jackson_bad.jpg' %}" alt="Álbum Bad - Michael Jackson" class="product-image" /> {# Añadido product-image #}
        </a>
        <div class="product-info"> {# Nuevo div para la información del producto #}
            <h3 class="product-title"><a href="{% url 'pub_vinilo' %}?album=michael_jackson_bad">Bad</a></h3> {# Cambiado p a h3 y añadido class #}
            <p class="product-artist">Michael Jackson</p> {# Cambiado p a p con class product-artist #}
            <p class="product-price">$105.000</p> {# Añadido precio #}
            <a class="btn btn-add-to-cart" href="{% url 'com_carrito' %}?album=michael_jackson_bad&title=Bad&artist=Michael%20Jackson&price=105000&image={% static 'images/albumes/michael_jackson_bad.jpg' %}"> {# Añadido botón de carrito #}
                Agregar al carrito
            </a>
        </div>
      </div>
      {# FIN: EJEMPLO DE CÓMO CAMBIAR UNA TARJETA #}


      <div class="product-card" data-genre="rock">
        <a href="{% url 'pub_vinilo' %}?album=metallica_master" class="product-image-link">
          <img src="{% static 'images/albumes/metallica_master.jpg' %}" alt="Álbum Master of Puppets - Metallica" class="product-image" />
        </a>
        <div class="product-info">
            <h3 class="product-title"><a href="{% url 'pub_vinilo' %}?album=metallica_master">Master of Puppets</a></h3>
            <p class="product-artist">Metallica</p>
            <p class="product-price">$105.000</p>
            <a class="btn btn-add-to-cart" href="{% url 'com_carrito' %}?album=metallica_master&title=Master%20of%20Puppets&artist=Metallica&price=105000&image={% static 'images/albumes/metallica_master.jpg' %}">
                Agregar al carrito
            </a>
        </div>
      </div>

      <div class="product-card" data-genre="salsa">
        <a href="{% url 'pub_vinilo' %}?album=joe_arroyo_la_verdad" class="product-image-link">
          <img src="{% static 'images/albumes/joe_arroyo_la_verdad.jpg' %}" alt="Álbum La Verdad de Joe Arroyo: el Original" class="product-image" />
        </a>
        <div class="product-info">
            <h3 class="product-title"><a href="{% url 'pub_vinilo' %}?album=joe_arroyo_la_verdad">La Verdad de Joe Arroyo: el Original</a></h3>
            <p class="product-artist">Joe Arroyo</p>
            <p class="product-price">$80.000</p>
            <a class="btn btn-add-to-cart" href="{% url 'com_carrito' %}?album=joe_arroyo_la_verdad&title=La%20Verdad%20de%20Joe%20Arroyo%3A%20el%20Original&artist=Joe%20Arroyo&price=80000&image={% static 'images/albumes/joe_arroyo_la_verdad.jpg' %}">
                Agregar al carrito
            </a>
        </div>
      </div>


      <div class="product-card" data-genre="pop">
        <a href="{% url 'pub_vinilo' %}?album=michael_jackson_thriller" class="product-image-link">
          <img src="{% static 'images/albumes/michael_jackson_thriller.jpg' %}" alt="Álbum Thriller - Michael Jackson" class="product-image" />
        </a>
        <div class="product-info">
            <h3 class="product-title"><a href="{% url 'pub_vinilo' %}?album=michael_jackson_thriller">Thriller</a></h3>
            <p class="product-artist">Michael Jackson</p>
            <p class="product-price">$110.000</p>
            <a class="btn btn-add-to-cart" href="{% url 'com_carrito' %}?album=michael_jackson_thriller&title=Thriller&artist=Michael%20Jackson&price=110000&image={% static 'images/albumes/michael_jackson_thriller.jpg' %}">
                Agregar al carrito
            </a>
        </div>
      </div>

      <div class="product-card" data-genre="rock">
        <a href="{% url 'pub_vinilo' %}?album=the_beatles_sgt_pepper" class="product-image-link">
          <img src="{% static 'images/albumes/the_beatles_sgt_pepper.jpg' %}" alt="Sgt. Pepper's Lonely Hearts Club Band - The Beatles" class="product-image" >
        </a>
        <div class="product-info">
            <h3 class="product-title"><a href="{% url 'pub_vinilo' %}?album=the_beatles_sgt_pepper">Sgt. Pepper's Lonely Hearts Club Band</a></h3>
            <p class="product-artist">The Beatles</p>
            <p class="product-price">$95.000</p>
            <a class="btn btn-add-to-cart" href="{% url 'com_carrito' %}?album=the_beatles_sgt_pepper&title=Sgt.%20Pepper%27s%20Lonely%20Hearts%20Club%20Band&artist=The%20Beatles&price=95000&image={% static 'images/albumes/the_beatles_sgt_pepper.jpg' %}">
                Agregar al carrito
            </a>
        </div>
      </div>

      <div class="product-card" data-genre="rock">
        <a href="{% url 'pub_vinilo' %}?album=guns_n_roses_appetite" class="product-image-link">
          <img src="{% static 'images/albumes/guns_n_roses_appetite.jpg' %}" alt="Appetite for Destruction - Guns N' Roses" class="product-image" />
        </a>
        <div class="product-info">
            <h3 class="product-title"><a href="{% url 'pub_vinilo' %}?album=guns_n_roses_appetite">Appetite for Destruction</a></h3>
            <p class="product-artist">Guns N' Roses</p>
            <p class="product-price">$120.000</p>
            <a class="btn btn-add-to-cart" href="{% url 'com_carrito' %}?album=guns_n_roses_appetite&title=Appetite%20for%20Destruction&artist=Guns%20N%27%20Roses&price=120000&image={% static 'images/albumes/guns_n_roses_appetite.jpg' %}">
                Agregar al carrito
            </a>
        </div>
      </div>

      <div class="product-card" data-genre="rap">
        <a href="{% url 'pub_vinilo' %}?album=playboi_carti_music" class="product-image-link">
          <img src="{% static 'images/albumes/playboi_carti_music.jpg' %}" alt="Music - Playboi Carti" class="product-image" />
        </a>
        <div class="product-info">
            <h3 class="product-title"><a href="{% url 'pub_vinilo' %}?album=playboi_carti_music">Music</a></h3>
            <p class="product-artist">Playboi Carti</p>
            <p class="product-price">$90.000</p>
            <a class="btn btn-add-to-cart" href="{% url 'com_carrito' %}?album=playboi_carti_music&title=Music&artist=Playboi%20Carti&price=90000&image={% static 'images/albumes/playboi_carti_music.jpg' %}">
                Agregar al carrito
            </a>
        </div>
      </div>

      <div class="product-card" data-genre="merengue">
        <a href="{% url 'pub_vinilo' %}?album=elvis_crespo_suavemente" class="product-image-link">
          <img src="{% static 'images/albumes/elvis_crespo_suavemente.jpg' %}" alt="Suavemente - Elvis Crespo" class="product-image" />
        </a>
        <div class="product-info">
            <h3 class="product-title"><a href="{% url 'pub_vinilo' %}?album=elvis_crespo_suavemente">Suavemente</a></h3>
            <p class="product-artist">Elvis Crespo</p>
            <p class="product-price">$50.000</p>
            <a class="btn btn-add-to-cart" href="{% url 'com_carrito' %}?album=elvis_crespo_suavemente&title=Suavemente&artist=Elvis%20Crespo&price=50000&image={% static 'images/albumes/elvis_crespo_suavemente.jpg' %}">
                Agregar al carrito
            </a>
        </div>
      </div>

      <div class="product-card" data-genre="rap">
        <a href="{% url 'pub_vinilo' %}?album=eminem_the_eminem_show" class="product-image-link">
          <img src="{% static 'images/albumes/eminem_the_eminem_show.jpg' %}" alt="The Eminem Show - Eminem" class="product-image" />
        </a>
        <div class="product-info">
            <h3 class="product-title"><a href="{% url 'pub_vinilo' %}?album=eminem_the_eminem_show">The Eminem Show</a></h3>
            <p class="product-artist">Eminem</p>
            <p class="product-price">$95.000</p>
            <a class="btn btn-add-to-cart" href="{% url 'com_carrito' %}?album=eminem_the_eminem_show&title=The%20Eminem%20Show&artist=Eminem&price=95000&image={% static 'images/albumes/eminem_the_eminem_show.jpg' %}">
                Agregar al carrito
            </a>
        </div>
      </div>

      <div class="product-card" data-genre="rock">
        <a href="{% url 'pub_vinilo' %}?album=nirvana_in_utero" class="product-image-link">
          <img src="{% static 'images/albumes/nirvana_in_utero.jpg' %}" alt="In Utero - Nirvana" class="product-image" />
        </a>
        <div class="product-info">
            <h3 class="product-title"><a href="{% url 'pub_vinilo' %}?album=nirvana_in_utero">In Utero</a></h3>
            <p class="product-artist">Nirvana</p>
            <p class="product-price">$120.000</p>
            <a class="btn btn-add-to-cart" href="{% url 'com_carrito' %}?album=nirvana_in_utero&title=In%20Utero&artist=Nirvana&price=120000&image={% static 'images/albumes/nirvana_in_utero.jpg' %}">
                Agregar al carrito
            </a>
        </div>
      </div>

      <div class="product-card" data-genre="kpop">
        <a href="{% url 'pub_vinilo' %}?album=aespa_whiplash" class="product-image-link">
          <img src="{% static 'images/albumes/aespa_whiplash.jpg' %}" alt="Whiplash - Aespa" class="product-image" />
        </a>
        <div class="product-info">
            <h3 class="product-title"><a href="{% url 'pub_vinilo' %}?album=aespa_whiplash">Whiplash</a></h3>
            <p class="product-artist">Aespa</p>
            <p class="product-price">$130.000</p>
            <a class="btn btn-add-to-cart" href="{% url 'com_carrito' %}?album=aespa_whiplash&title=Whiplash&artist=Aespa&price=130000&image={% static 'images/albumes/aespa_whiplash.jpg' %}">
                Agregar al carrito
            </a>
        </div>
      </div>

      <div class="product-card" data-genre="reggaeton">
        <a href="{% url 'pub_vinilo' %}?album=daddy_yankee_barrio" class="product-image-link">
          <img src="{% static 'images/albumes/daddy_yankee_barrio.jpg' %}" alt="Barrio Fino - Daddy Yankee" class="product-image" />
        </a>
        <div class="product-info">
            <h3 class="product-title"><a href="{% url 'pub_vinilo' %}?album=daddy_yankee_barrio">Barrio Fino (Deluxe Version)</a></h3>
            <p class="product-artist">Daddy Yankee</p>
            <p class="product-price">$150.000</p>
            <a class="btn btn-add-to-cart" href="{% url 'com_carrito' %}?album=daddy_yankee_barrio&title=Barrio%20Fino%20(Deluxe%20Version)&artist=Daddy%20Yankee&price=150000&image={% static 'images/albumes/daddy_yankee_barrio.jpg' %}">
                Agregar al carrito
            </a>
        </div>
      </div>

      <div class="product-card" data-genre="rock">
        <a href="{% url 'pub_vinilo' %}?album=the_beatles_abbey_road" class="product-image-link">
          <img src="{% static 'images/albumes/the_beatles_abbey.jpg' %}" alt="Abbey Road - The Beatles" class="product-image" />
        </a>
        <div class="product-info">
            <h3 class="product-title"><a href="{% url 'pub_vinilo' %}?album=the_beatles_abbey_road">Abbey Road</a></h3>
            <p class="product-artist">The Beatles</p>
            <p class="product-price">$135.000</p>
            <a class="btn btn-add-to-cart" href="{% url 'com_carrito' %}?album=the_beatles_abbey_road&title=Abbey%20Road&artist=The%20Beatles&price=135000&image={% static 'images/albumes/the_beatles_abbey.jpg' %}">
                Agregar al carrito
            </a>
        </div>
      </div>

      <div class="product-card" data-genre="kpop">
        <a href="{% url 'pub_vinilo' %}?album=bts_love_yourself" class="product-image-link">
          <img src="{% static 'images/albumes/bts_love.jpg' %}" alt="Love Yourself - BTS" class="product-image" />
        </a>
        <div class="product-info">
            <h3 class="product-title"><a href="{% url 'pub_vinilo' %}?album=bts_love_yourself">Love Yourself</a></h3>
            <p class="product-artist">BTS</p>
            <p class="product-price">$125.000</p>
            <a class="btn btn-add-to-cart" href="{% url 'com_carrito' %}?album=bts_love_yourself&title=Love%20Yourself&artist=BTS&price=125000&image={% static 'images/albumes/bts_love.jpg' %}">
                Agregar al carrito
            </a>
        </div>
      </div>

      <div class="product-card" data-genre="jazz">
        <a href="{% url 'pub_vinilo' %}?album=frank_sinatra_the_world" class="product-image-link">
          <img src="{% static 'images/albumes/frank_sinatra_the_world.jpg' %}" alt="The World We Knew - Frank Sinatra" class="product-image" />
        </a>
        <div class="product-info">
            <h3 class="product-title"><a href="{% url 'pub_vinilo' %}?album=frank_sinatra_the_world">The World We Knew</a></h3>
            <p class="product-artist">Frank Sinatra</p>
            <p class="product-price">$90.000</p>
            <a class="btn btn-add-to-cart" href="{% url 'com_carrito' %}?album=frank_sinatra_the_world&title=The%20World%20We%20Knew&artist=Frank%20Sinatra&price=90000&image={% static 'images/albumes/frank_sinatra_the_world.jpg' %}">
                Agregar al carrito
            </a>
        </div>
      </div>

    </main>
  </div>
  <script>
    document.addEventListener("DOMContentLoaded", function() {
      // Seleccionamos todos los enlaces del aside
      const genreLinks = document.querySelectorAll('.aside-clasificacion ul li a');
      // Seleccionamos todas las tarjetas de álbum (ahora product-card)
      const albumCards = document.querySelectorAll('.product-card'); // <-- CAMBIADO A product-card

      genreLinks.forEach(link => {
        link.addEventListener('click', (e) => {
          e.preventDefault();
          // Obtenemos el género seleccionado y lo forzamos en minúsculas
          const selectedGenre = link.getAttribute('data-genre').trim().toLowerCase();
          console.log("Género seleccionado:", selectedGenre);

          albumCards.forEach(card => {
            // Obtenemos el género de la tarjeta y lo comparamos en minúsculas
            const cardGenre = card.getAttribute('data-genre').trim().toLowerCase();
            console.log("Tarjeta con género:", cardGenre);

            if (selectedGenre === 'todos') {
              // Restauramos el display a su valor original (vacío)
              card.style.display = "";
            } else {
              // Si el género coincide, mostramos la tarjeta; si no, la ocultamos
              if (cardGenre === selectedGenre) {
                card.style.display = "";
              } else {
                card.style.display = "none";
              }
            }
          });
        });
      });
    });
    </script>
    {% endblock %}

{% block pie %}

{% endblock pie %}
