{% extends "plantillas/plantilla_vendedor.html" %}
{% load static %}

{% block extra_css %}
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.7.2/css/all.min.css">
    <link rel="stylesheet" href="{% static 'css/paginas/vendedor/style_producto.css' %}">
{% endblock extra_css %}

{% block titulo %} Vinyles - Crear {% endblock titulo %}

{% block contenido %}
<div class="container-albumes">
  <main class="main-albumes">
    <div class="album-card">  {# Corrección: Eliminado el cierre del div que cortaba el enlace #}
      <a href="{% url 'ven_bad' %}">
      <img src="{% static 'images/albumes/michael_jackson_bad.jpg' %}" alt="Álbum Bad - Michael Jackson" />
      <p><strong>Álbum:</strong> Bad</p>
      <p><strong>Artista:</strong> Michael Jackson</p>
      </a>
    </div>

    <div class="album-card">
      <a href="{% url 'ven_crear' %}">
        <img src="{% static 'images/utiles/agregar_album.jpg' %}" alt="Añadir Album" class="plus-icon"/>
        <p>Añadir Album</p>
      </a>
    </div>
  </main>
</div>
{% endblock contenido %}

{% block pie %}

{% endblock pie %}