{% extends base_template %}
{% load static %}
{% load humanize %}

{% block extra_css %}
    <link rel="stylesheet" href="{% static 'css/componentes/style_product_card.css' %}" />
    <link rel="stylesheet" href="{% static 'css/paginas/style_inicio_page.css' %}" />
{% endblock extra_css %}

{% block titulo %} Vinyles - La Música {% endblock titulo %}

{% block contenido %}
    <section class="hero-banner-section">
        <div class="hero-banner">
            <img src="{% static 'images/utiles/vinyles.png' %}" alt="Banner de Vinyles">
            {# Optional text overlay
            <div class="hero-text">
                <h2>Bienvenido!</h2>
                <p>Sientete libre de mirar algunos de los mejores albumes de la historia. Y como no, comprar alguno de estas piezas maestras.</p>
                {% if user.is_authenticated %}
                <a href="{% url 'com_albumes' %}" class="btn btn-primary">Empezar mi compra!</a>
                {% else %}
                <a href="#" class="btn btn-primary">Empezar mi compra!</a>
                {% endif %}
            </div>
            #}
        </div>
    </section>

    {% include 'componentes/_product_grid.html' %}

{% endblock contenido %}

{% block pie %}
    {% if user.is_authenticated %}
        <!-- SWEETALERT2 CDN -->
        <script src="https://cdn.jsdelivr.net/npm/sweetalert2@11"></script>

        {% if request.session.mostrar_alerta_bloqueado %}
        <script>
        Swal.fire({
            title: 'Cuenta bloqueada',
            html: 'Tu cuenta fue <b>bloqueada</b>. Esta fue tu última vez entrando al sistema.<br><small>Contactate con el nosotros si crees que es un error.</small>',
            icon: 'error',
            confirmButtonText: 'Cerrar sesión',
            allowOutsideClick: false,
            allowEscapeKey: false,
            allowEnterKey: false,
            backdrop: true,
            background: '#0f172a',
            color: '#ffffff',
            customClass: {
                popup: 'mi-alerta-azul',
                title: 'titulo-alerta',
                htmlContainer: 'contenido-alerta',
                confirmButton: 'btn-confirmar',
                actions: 'acciones-alerta'
            },
            buttonsStyling: false
        }).then(() => {
            window.location.href = "{% url 'desactivar_usuario' %}";
        });
        </script>
        {% endif %}
    {% endif %}
{% endblock pie %}
