<div class="container mt-5">
    <h2>Formulario de Estudiante</h2>
    <form method="post" enctype="multipart/form-data">
    {% csrf_token %}
    {% for campo in formulario %}
    <div class="mb-3">
        <label for="{{ campo.id_for_label }}" class="form-label">{{ campo.label }}</label>
        {{ campo }}
        {% if campo.field.widget.input_type == 'file' and campo.value %}
            <img src="{{MEDIA_URL}}/fotos/{{campo.value}}" alt="" width="150">
        {% endif %}
        <div class="text-danger">{{ campo.errors }}</div>
    </div>
    {% endfor %}
        <button type="submit" class="btn btn-primary">Guardar</button>
    </form>
</div>