{% extends "plantillas/plantilla_administrador.html" %}
{% load static %}

{% block extra_css %}
    <link rel="stylesheet" href="{% static 'css/paginas/administrador/style_ventas.css' %}">
{% endblock extra_css %}

{% block titulo %} Vinyles - Ventas {% endblock titulo %}

{% block contenido %}
<section class="section">
    <div class="textos">
        <h4 class="bienvenida">Ventas Hoy</h4>
        <p class="bien">Estas son las ventas que se han registrado el día de hoy.</p>
    </div>
    <table>
        <thead>
            <tr>
                <th>Cliente</th>
                <th>Producto</th>
                <th>Cantidad</th>
                <th>Precio</th>
                <th>Fecha</th>
            </tr>
        </thead>
        <tbody>
            {% for pedido in pedidos %}
                {% for detalle in pedido.detalles.all %}
                <tr>
                    <td><a href="a">{{ pedido.comprador.get_full_name|default:pedido.comprador.username }}</a></td>
                    <td><a href="#">{{ detalle.publicacion.producto.nombre }}</a></td>
                    <td>{{ detalle.cantidad }}</td>
                    <td>${{ detalle.subtotal|floatformat:"0" }}</td>
                    <td>{{ pedido.fecha_pedido|date:"d/m/Y" }}</td>
                </tr>
                {% endfor %}
            {% empty %}
            <tr>
                <td colspan="5">No se han registrado ventas hoy.</td>
            </tr>
            {% endfor %}
        </tbody>
    </table>
</section>
{% endblock contenido %}

{% block pie %}
{% endblock pie %}
