{% extends "plantillas/plantilla_administrador.html" %}
{% load static %}
{% load humanize %}  {# 👈 esto permite usar intcomma para miles #}

{% block extra_css %}
    <link rel="stylesheet" href="{% static 'css/paginas/administrador/style_administrador.css' %}">
{% endblock extra_css %}

{% block titulo %} Vinyles - Administrador{% endblock titulo %}

{% block contenido %}
<section class="section">

    <div class="textos">
        <h1 class="bienvenida">Bienvenido , Admin</h1>
        <p class="bien">Todo lo que pasa en la plataforma, al instante. Tu centro de mando está listo, Admin.</p>
    </div>

    <!-- Ventas -->
    <a href="{% url 'admin_ventas' %}" class="nota rosita">
        <i class="fas fa-cash-register icono-nota"></i>
        <h3>Ventas hoy</h3>
        <div class="value">{{ num_ventas }}</div>
        <div class="desc">Total: ${{ total_ventas|floatformat:"0"|intcomma }}</div>
    </a>

    <!-- Nuevos usuarios -->
    <a href="{% url 'admin_new_users' %}" class="nota azul">
        <i class="fas fa-user-plus icono-nota"></i>
        <h3>Nuevos usuarios</h3>
        <div class="value">{{ usuarios_hoy }}</div>
        <div class="desc">Registrados hoy</div>
    </a>

    <!-- Más vendidos -->
    <a href="{% url 'admin_mas_vendidos' %}" class="nota verde">
        <i class="fas fa-star icono-nota"></i>
        <h3>Más vendidos</h3>
        <div class="value">5</div>
        <div class="desc">productos más vendidos</div>
    </a>

</section>
{% endblock contenido %}

{% block pie %}
<!-- SWEETALERT2 CDN -->
<script src="https://cdn.jsdelivr.net/npm/sweetalert2@11"></script>

{% if request.session.mostrar_alerta_bloqueado %}
<script>
Swal.fire({
    title: 'Cuenta bloqueada',
    html: 'Tu cuenta fue <b>bloqueada</b>. Esta fue tu última vez entrando al sistema.<br><small>Contacta con el administrador si crees que es un error.</small>',
    icon: 'error',
    confirmButtonText: 'Cerrar sesión',
    allowOutsideClick: false,
    allowEscapeKey: false,
    allowEnterKey: false,
    backdrop: true,
    background: '#0f172a',
    color: '#ffffff',
    customClass: {
        popup: 'mi-alerta-azul',
        title: 'titulo-alerta',
        htmlContainer: 'contenido-alerta',
        confirmButton: 'btn-confirmar',
        actions: 'acciones-alerta'
    },
    buttonsStyling: false
}).then(() => {
    window.location.href = "{% url 'desactivar_usuario' %}";
});
</script>
{% endif %}
{% endblock pie %}
