{% extends "plantillas/plantilla_administrador.html" %}
{% load static %}

{% block extra_css %}
<link rel="stylesheet" href="{% static 'css/paginas/administrador/style_gestion_users.css' %}">
{% endblock extra_css %}

{% block titulo %} Vinyles - Gestión de Usuarios Bloqueados {% endblock titulo %}

{% block contenido %}
<section class="section">
    <div class="textos">
        <h1 class="bienvenida">Usuarios bloqueados en la plataforma</h1>
        <p class="bien">Gestiona todos los perfiles de los usuarios para un control más efectivo.</p>
    </div>

    <div class="usuariosbloque">
        <!-- Barra de búsqueda -->
        <input type="text" id="buscador" placeholder="Buscar usuario..." class="busqueda">

        <!-- Lista de usuarios -->
        <ul class="usuarios">
            {% for usuario in usuarios %}
            <li>
                <div class="avatar">
                    {% if usuario.cliente.foto_perfil %}
                        <img src="{{ usuario.cliente.foto_perfil.url }}" alt="{{ usuario.username }}"
                            onerror="this.outerHTML='<div class=\'avatar\' style=\'background-color: gray;\'><i class=\'fa-solid fa-user\'></i></div>'">
                    {% else %}
                        <div class="avatar" style="background-color: gray;">
                            <i class="fa-solid fa-user"></i>
                        </div>
                    {% endif %}
                </div>
                <span class="nombre-usuario">
                    <a href="{% url 'admin_ver_perfil_usuario' usuario.id %}" class="nombre-usuario">
                        {{ usuario.username }}
                    </a>
                </span>
            </li>
            {% endfor %}
        </ul>
    </div>
</section>

<script>
    const input = document.getElementById('buscador');
    const usuarios = document.querySelectorAll('.usuarios li');

    input.addEventListener('keyup', () => {
        const filtro = input.value.toLowerCase();
        usuarios.forEach(usuario => {
            const nombre = usuario.textContent.toLowerCase();
            usuario.style.display = nombre.includes(filtro) ? 'flex' : 'none';
        });
    });
</script>
{% endblock contenido %}

{% block pie %}
{% endblock pie %}
    