{% extends "plantillas/plantilla_administrador.html" %}
{% load static %}

{% block extra_css %}
    <link rel="stylesheet" href="{% static 'css/paginas/administrador/style_mas_vendidos.css' %}">
{% endblock extra_css %}

{% block titulo %} Vinyles - Más Vendidos {% endblock titulo %}

{% block contenido %}
<section class="section">
    <div class="textos">
        <h4 class="bienvenida">
            <span class="estrella-animada">★</span> Más Vendidos
        </h4>
        <p class="bien">Estos son los productos más vendidos hasta la fecha.</p>
    </div>

    <table>
        <thead>
            <tr>
                <th>Cantidad Vendida</th>
                <th>Producto</th>
                <th>Total Vendido</th>
            </tr>
        </thead>
        <tbody>
            {% for producto in mas_vendidos %}
            <tr>
                <td>{{ producto.cantidad_vendida }}</td>
                <td>
                    <a href="{% url 'admin_adPro' producto.publicacion__producto__id %}">
                        {{ producto.publicacion__producto__nombre }}
                    </a>
                </td>
                <td>${{ producto.total_vendido|floatformat:"0" }}</td>
            </tr>
            {% empty %}
            <tr>
                <td colspan="3">No se han registrado ventas aún.</td>
            </tr>
            {% endfor %}
        </tbody>
    </table>
</section>
{% endblock contenido %}

{% block pie %}
{% endblock pie %}
