{% extends 'plantillas/base.html' %}
{% load static %}

{% block title %}Administrador{% endblock %}

{% block extra_css %}
    {# Carga el CSS específico para la plantilla de administrador #}
    <link rel="stylesheet" href="{% static 'css/paginas/plantillas/style_plantilla_administrador.css' %}"> {# El CSS de este template específico #}
{% endblock %}

{# Mapeamos el antiguo 'contenido' al nuevo 'content' para que las plantillas hijas funcionen sin cambios #}
{% block content %}
    {% block contenido %}{% endblock %}
{% endblock %}

{# Mapeamos el antiguo 'pie' al nuevo 'extra_js' para que las plantillas hijas funcionen sin cambios #}
{% block extra_js %}
    {% block pie %}{% endblock %}
{% endblock %}

{# Ocultamos el botón de WhatsApp para los administradores sobreescribiendo el bloque. #}
{% block whatsapp_button_block %}{% endblock whatsapp_button_block %}
